[submodule "vendor/tree-sitter-autohotkey"]
	path = vendor/tree-sitter-autohotkey
	url = git@github.com:holy-tao/tree-sitter-autohotkey.git
[submodule "site/themes/hugo-book"]
	path = site/themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
